/* Priority Badges */
.priority-badge {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.priority-low {
    background-color: #28a745;
    /* Green */
}

.priority-medium {
    background-color: #ffc107;
    /* Orange/Yellow */
    color: #333;
}

.priority-high {
    background-color: #dc3545;
    /* Red */
}

/* Priority Box Styling */
.single-task.priority-low {
    border-left: 5px solid #28a745;
}

.single-task.priority-medium {
    border-left: 5px solid #ffc107;
}

.single-task.priority-high {
    border-left: 5px solid #dc3545;
}